body {
	display: flex;
	background-color: #324A5F;
	color: #FFFFFF;
	margin: auto;
}

nav {
	display: none;
}

i.bi-arrow-bar-left {
	font-size: 2em;
}

main {
	display: flex;
	background-color: #0C1821;
}


@media screen and (min-width: 900px) {

	body {
		flex-direction: row;
	}

	main {
		margin-left: 30vw;
		margin-right: 4vw;
		background-color: #1B2A41;
		width: 100%;
	}

	table {
		border-collapse: collapse;
		border: 1 dashed #000000;
		text-align: center;
		width: 100%;
	}

	tr:nth-child(odd), th:nth-child(odd), td:nth-child(odd) {
		background-color: #324A5F40;
	}

	table, th, td {
		border: 1px solid black;
		border-radius: 5px;
	}

	aside {
		display: flex;
		flex-direction: column;
		width: 25vw;
		background-color: #0C1821;
		height: 100%;
		position: fixed;
		overflow: auto; 
		align-items: center;
		border-right: 2px solid #0C1821;
	}

	h1#welcome_msg {
		font-size: 2em;
		background-color: #1B2A41;
		text-align: center;
		width: 100%;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	ul#side_nav {
		display: inline-block;
		list-style-type: none;
		color: #000000;
		width: 25vw;
		margin: 0;
		padding: 0;
	}


	ul#side_nav li button {
		color: #000000;
		text-decoration: none;
		font-size: 0.7em;
		width: 100%;
		color: #FFFFFF;
		background-color: #1B2A41;
		padding: 0.8em;
		border: 0.1em solid #324A5F;
		margin: 0;
	}

	ul#side_nav li button:hover {
		background-color: #324A5F;
		border-color: #1B2A41;
		border-right-color: #0C1821;
	}

	ul#side_nav li button:focus {
		background-color: #324A5F;
		border-color: #1B2A41;
		border-right-color: #0C1821;
	}

	footer#aside_footer {
		position: absolute;
		bottom: 0px;
		width: 100%;
		height: 10vh;

		background-color: #1B2A41;
		text-align: center;
		border-top: 2px solid #FFFFFF;
	}

	a#log_out {
		display: block;
		width: 100%;
		height: 100%;
		text-decoration: none;
		vertical-align: 2em;
		color: #FFFFFF;
	}

	a#log_out:hover {
		text-decoration: none;
		color: #0C1821;
		background-color: #FFFFFF;
	}
}

@media screen and (max-width: 900px) {
	body {
		flex-direction: column;
	}

	nav {
		display: flex;
		background-color: #0C1821;
		justify-content: space-between;
		position: fixed;
		top: 0;
		width: 100%;
	}

	aside {
		display: none;
	}

	p#account_mode {
		font-size: 1.2em;
	}

}
