body {
	background-color: #0C1821;
	margin: auto;
	color: #FFFFFF;
	display: inline;
}

nav {
	background-color: #0C1821;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
}

p#account_mode {
	font-size: 1.2em;
	vertical-align: middle;
	margin: auto;
}

a#log_out {
	padding: 0.5em;
	padding-right: 4vw;
	padding-left: 4vw;
	text-decoration: none;
	color: #FFFFFF;
	border-bottom: 1px solid #1B2A41;
	border-right: 1px solid #1B2A41;
	border-radius: 0 0 2px 2px;
}

a#log_out:hover {
	text-decoration: none;
	color: #0C1821;
	background-color: #FFFFFF;
}

i.bi-arrow-bar-left {
	font-size: 2em;
}

main {
	padding-top: 4em;
	display: flex;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100vw;
}

aside {
	flex: 1;
	padding: 1em;
	text-align: center;
	border-right: 2px solid #0C1821;
}

.success {
	background-color: green;
	color: #000000;
	border-radius: 2em;
	text-align: center;
}

#new_admin_form {
	display: grid;
	justify-content: space-evenly;
}

.camps {
	display: flex;
	flex-direction: column;
}

.error {
	color: red;
}

button#create {
	margin-top: 1em;
}

section {
	flex: 2;
	display: flex;
	flex-direction: column;
	padding: 1em;
}

#del_form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}

.del_wrapper{
	display: inline-grid;
}

#label_delete_account {
	color: red;
	font-weight: bold;
}

#del_conf {
	margin-right: 1em;
}

#username {
	color: red;
	font-weight: bold;
}

#row {
	align-self: end;
	flex-basis: 0;
}

#row > button[type="submit"] {
	margin-left: 1em;
}

@media screen and (max-width: 900px) {
	main {
		flex-direction: column;
	}

	aside {
		border: none;
		border-bottom: 2px solid #1B2A41;
	}

	section {
		text-align: center;
	}
}
